@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --primary-color: #111111;
  --second-color: #ffffff;
  --additional-color: #b7b7b7;
  --accent-color: #f87719;
  --further-color: #282828;
  --alternate-color: #595959;
  --supplemental-color: #f8f8f8;
  --main-font: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}

body {
  font-family: var(--main-font);
  color: var(--second-color);
  background-color: var(--primary-color);
}
body.modal-open {
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.film-card {
  position: relative;
  min-width: 280px;
  min-height: 402px;
  border-radius: 5px;
  transform: scale(1);
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.film-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
}
@media screen and (max-width: 767px) {
  .film-card:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .film-card {
    min-width: 224px;
    min-height: 325px;
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1280px) {
  .film-card {
    min-width: 395px;
    min-height: 573px;
  }
}
.film-card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 5px 0px #000000, 5px 5px 10px 5px #383838;
  cursor: pointer;
}
.film-card__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  z-index: 50;
}
.film-card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .film-card__title {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__title {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 6px;
  }
}
.film-card__description {
  display: inline-flex;
  min-width: 75px;
}
.film-card__genres {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--additional-color);
}
@media screen and (min-width: 768px) {
  .film-card__genres {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__genres {
    font-size: 20px;
    line-height: 1.15;
  }
}
.film-card__release-date {
  margin-left: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--additional-color);
}
@media screen and (min-width: 768px) {
  .film-card__release-date {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__release-date {
    font-size: 20px;
    line-height: 1.15;
  }
}

.film-card__rating {
  position: absolute;
  right: 12px;
  display: inline-block;
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--additional-color);
}
@media screen and (min-width: 768px) {
  .film-card__rating {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__rating {
    font-size: 20px;
    line-height: 1.15;
  }
}

.btn {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-color);
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  border: 0px;
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0px auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.hero {
  width: 1280px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  background-color: var(--primary-color);
  box-sizing: border-box;
}

.text-hero {
  width: 464px;
  height: 76px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.title-hero {
  width: 464px;
  height: 150px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.text-item {
  display: flex;
  box-sizing: border-box;
  list-style: none;
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  justify-content: center;
  position: absolute;
  left: 32px;
  top: 229px;
}

.text-li {
  width: 464px;
  height: 242px;
}

.btn-hero {
  padding: 12px 24px;
  gap: 10px;
  position: absolute;
  width: 130px;
  height: 48px;
  left: 32px;
}

.my-lib__hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 380px;
  background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(../images/mobile/library-bg-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .my-lib__hero {
    background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(../images/mobile/library-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .my-lib__hero {
    min-height: 370px;
    background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(../images/tablet/library-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .my-lib__hero {
    background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(../images/tablet/library-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .my-lib__hero {
    min-height: 660px;
    background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(../images/desktop/library-bg-des.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .my-lib__hero {
    background-image: linear-gradient(83.48deg, #0e0e0e 25.78%, rgba(14, 14, 14, 0) 60.07%), url(../images/desktop/library-bg-des-2x.jpg);
  }
}

.my-lib__hero-container {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
}
@media screen and (min-width: 1280px) {
  .my-lib__hero-container {
    margin-left: 85px;
  }
}

.my-lib__hero-title {
  display: inline-block;
  max-width: 235px;
  margin-top: 40px;
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 1.18;
}
@media screen and (min-width: 768px) {
  .my-lib__hero-title {
    max-width: 332px;
    margin-top: 62px;
    font-size: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .my-lib__hero-title {
    max-width: 464px;
    margin-top: 169px;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.17;
  }
}

.my-lib__hero-description {
  display: inline-block;
  max-width: 249px;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .my-lib__hero-description {
    max-width: 357px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .my-lib__hero-description {
    max-width: 464px;
    line-height: 1.18;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--alternate-color);
}

.search-input {
  max-width: 224px;
  padding: 10px 142px 10px 20px;
  border: 1px solid var(--second-color);
  border-radius: 10px;
  margin-right: 16px;
  outline: none;
  color: var(--second-color);
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .search-input {
    max-width: 204px;
    padding: 12px 140px 12px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .search-input {
    max-width: 334px;
  }
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: transparent;
  stroke: var(--primary-color);
  fill: none;
  cursor: pointer;
}
.search-btn:hover {
  border: 1px solid var(--accent-color);
  background-image: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-image-slice: 1;
  stroke: var(--accent-color);
  background: transparent;
}
@media screen and (min-width: 768px) {
  .search-btn {
    width: 44px;
    height: 44px;
  }
}

@media screen and (max-width: 767px) {
  .catalog__list {
    margin: 16 auto 20 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .catalog__list {
    margin: 36 auto 44 auto;
    display: flex;
    gap: 28px 15px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .catalog__list {
    margin: 48 auto 60 auto;
  }
}

.pagination-box {
  justify-content: center;
  text-align: center;
}/*# sourceMappingURL=index.css.map */