@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --primary-color: #111111;
  --second-color: #ffffff;
  --additional-color: #b7b7b7;
  --accent-color: #f87719;
  --further-color: #282828;
  --alternate-color: #595959;
  --supplemental-color: #f8f8f8;
  --main-font: "Roboto", sans-serif;
  --linear-gradient-up: linear-gradient(
    141.22deg,
    #ffc226 9.4%,
    #f84119 91.91%
  );
  --linear-gradient-down: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}

body {
  font-family: var(--main-font);
  color: var(--second-color);
  background-color: var(--primary-color);
}
body.modal-open {
  overflow: hidden;
}

body.light {
  background: var(--second-color);
  color: var(--primary-color);
}

.light .page-header {
  background: var(--second-color);
}
.light .site-nav__link {
  color: var(--alternate-color);
}
.light .page-header__logo {
  color: var(--further-color);
}
.light .menu-button {
  color: var(--alternate-color);
}
@media screen and (min-width: 768px) {
  .light .hero__container {
    background-image: url(../images/tablet/hero-w-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .light .hero__container {
    background-image: url(../images/tablet/hero-w-tab-2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .light .hero__container {
    background-image: url(../images/desktop/hero-w-des.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .light .hero__container {
    background-image: url(../images/desktop/hero-w-des-2x.png);
  }
}
.light .modal-hero {
  background-color: var(--second-color);
}
.light .hero-close {
  border: 1px solid var(--second-color);
  border-color: var(--second-color);
  background-color: var(--second-color);
  color: var(--primary-color);
}
.light .hero__text-movie {
  color: var(--further-color);
}
.light .upcoming__info {
  color: var(--primary-color);
}
.light .upcoming__about {
  color: var(--primary-color);
}
.light .upcoming__overview {
  color: var(--further-color);
}
.light .upcoming__date {
  color: var(--accent-color);
}
.light .upcoming__info .vote-background {
  color: var(--further-color);
}
.light .footer__sub {
  color: var(--alternate-color);
}
.light .footer__text {
  color: var(--alternate-color);
}
.light .search-input {
  color: var(--primary-color);
  border: 1px solid var(--alternate-color);
}
.light .library-cards__sorry {
  color: var(--primary-color);
}
.light .modal__description {
  color: var(--further-color);
}
.light .button__close {
  background-color: var(--second-color);
}
@media screen and (max-width: 767px) {
  .light .hero__title-movie {
    color: var(--second-color);
  }
}
@media screen and (max-width: 767px) {
  .light .hero__text-movie {
    color: var(--second-color);
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul,
ol {
  margin: 0px;
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.film-card {
  position: relative;
  min-width: 280px;
  min-height: 402px;
  background-color: var(--supplemental-color);
  border-radius: 5px;
  transform: scale(1);
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.film-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.48%, rgba(0, 0, 0, 0.9) 92.16%);
}
@media screen and (max-width: 767px) {
  .film-card:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .film-card {
    min-width: 224px;
    min-height: 325px;
    flex-basis: calc(33.3333333333% - 30px);
  }
}
@media screen and (min-width: 1280px) {
  .film-card {
    min-width: 395px;
    min-height: 573px;
  }
}
.film-card:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  cursor: pointer;
}
.light .film-card:hover {
  box-shadow: 5px 5px 5px 0px #3a3939, 5px 5px 10px 5px #383838;
}
.film-card__wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  z-index: 50;
}
.film-card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--second-color);
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .film-card__title {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__title {
    font-size: 20px;
    line-height: 1.15;
    margin-bottom: 6px;
  }
}
.film-card__description {
  display: inline-flex;
  min-width: 75px;
}
.film-card__genres {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--additional-color);
}
@media screen and (min-width: 768px) {
  .film-card__genres {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__genres {
    font-size: 16px;
    line-height: 1.15;
  }
}
.film-card__release-date {
  margin-left: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: var(--additional-color);
}
@media screen and (min-width: 768px) {
  .film-card__release-date {
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .film-card__release-date {
    font-size: 16px;
    line-height: 1.15;
  }
}

.film-card__rating {
  position: absolute;
  right: 12px;
  bottom: 15px;
  display: inline-block;
}

.catalog__list .rating {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  line-height: 0.75;
  color: var(--supplemental-color);
}
@media screen and (min-width: 768px) {
  .catalog__list .rating {
    font-size: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .catalog__list .rating {
    font-size: 26px;
  }
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(175.22deg, #f84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  min-width: 90px;
  height: 100%;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .rating__item {
    min-width: 66px;
  }
}

.btn {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-color);
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  border: 0px;
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0px auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

a {
  text-decoration: none;
}

.page-header {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: #000000;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .page-header {
    max-width: 768px;
    height: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .page-header {
    max-width: 1280px;
  }
}

.main-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
    inline-size: fit-content;
    margin: 0 auto;
  }
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .site-nav {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.site-nav__list {
  list-style: none;
  display: inline-flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 40px;
}

.site-nav__item {
  display: block;
}
@media screen and (min-width: 768px) {
  .site-nav__item {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.site-nav__link {
  color: var(--additional-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link.current {
  color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.page-header__link {
  display: flex;
  align-items: center;
}

.page-header__icon {
  width: 32px;
  height: 32px;
  z-index: 9;
}
@media screen and (min-width: 768px) {
  .page-header__icon {
    width: 48px;
    height: 48px;
  }
}

.page-header__logo {
  display: none;
  color: var(--second-color);
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: flicker 2.5s infinite alternate;
}
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #ebc3a7, 0 0 11px #ebc3a7, 0 0 19px #ebc3a7, 0 0 40px #f87719, 0 0 80px #f87719, 0 0 90px #f87719, 0 0 100px #f87719, 0 0 150px #f87719;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    display: block;
    margin-right: 48px;
    margin-left: 8px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .page-header__logo {
    margin-right: 307px;
    margin-left: 8px;
  }
}

.page-header__logo:hover,
.page-header__logo:focus {
  /* color: var(--accent-color);
    transform: rotate(1turn); */
  color: var(--second-color);
  transform: scale(1.1);
}

.switch-theme-button {
  background-color: transparent;
  border: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-image: url(/src/images/mobile/switch-b-mob.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .switch-theme-button {
    margin-left: 175px;
    width: 54px;
    height: 20px;
    margin-left: 175px;
  }
}
@media screen and (min-width: 1280px) {
  .switch-theme-button {
    margin-left: 417px;
    width: 60px;
    height: 24px;
    cursor: pointer;
  }
}

body.light .switch-theme-button {
  background-image: url(/src/images/mobile/switch-w-mob.png);
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__button {
  background-color: transparent;
  border: 0;
  padding: 17px;
  color: var(--additional-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

.mobile-menu__nav-list {
  overflow: hidden;
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 204px;
  height: 100vh;
  background-color: #171717;
  border-radius: 0px 8px 8px 0px;
  padding-left: 20px;
  transform: translateX(-100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-list.is-open {
  z-index: 8;
  list-style: none;
  transform: translateX(0);
  overflow: scroll;
  visibility: visible;
  width: 204px;
  height: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 250ms linear, visibility 300ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__item:first-child {
  margin-top: 65px;
}

.mobile-menu__item {
  margin-bottom: 9px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mobile-menu-nav__link {
  color: var(--additional-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav__link.current {
  color: var(--accent-color);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .switch-theme-button {
    background-image: url(/src/images/mobile/switch-b-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  .switch-theme-button {
    background-image: url(/src/images/tablet/switch-b-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 768px) and (min-resolution: 2dppx) {
  .switch-theme-button {
    background-image: url(/src/images/tablet/switch-b-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .switch-theme-button {
    background-image: url(/src/images/desktop/switch-b-des.png);
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .switch-theme-button {
    background-image: url(/src/images/desktop/switch-b-des-2x.png);
  }
}
/* Light theme responsive images */
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  body.light .switch-theme-button {
    background-image: url(/src/images/mobile/switch-w-mob-2x.png);
  }
}
@media screen and (min-width: 768px) {
  body.light .switch-theme-button {
    background-image: url(/src/images/tablet/switch-w-tab.png);
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 768px) and (min-resolution: 2dppx) {
  body.light .switch-theme-button {
    background-image: url(/src/images/tablet/switch-w-tab-2x.png);
  }
}
@media screen and (min-width: 1200px) {
  body.light .switch-theme-button {
    background-image: url(/src/images/desktop/switch-w-des.png);
  }
}
@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  body.light .switch-theme-button {
    background-image: url(/src/images/desktop/switch-w-des-2x.png);
  }
}
.hero {
  max-width: 480px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    max-width: 1280px;
  }
}

@media screen and (max-width: 767px) {
  #hero-bg {
    max-width: 480px;
    height: 380px;
    padding-top: 40px;
    padding-left: 20px;
    display: block;
    margin: 0 auto;
    background-image: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%), url(../images/mobile/hero-bg-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  #hero-bg {
    background-image: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%), url(../images/mobile/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  #hero-bg {
    display: none;
  }
}

#hero-movie {
  display: none;
}
@media screen and (min-width: 768px) {
  #hero-movie {
    display: block;
    width: 350px;
    padding-top: 36px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  #hero-movie {
    width: 580px;
    padding-top: 118px;
    padding-left: 135px;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
    min-height: 372px;
    background-image: url(../images/tablet/hero-b-tab.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url(../images/tablet/hero-b-tab-2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    min-height: 660px;
    background-image: url(../images/desktop/hero-b-des.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url(../images/desktop/hero-b-des-2x.png);
  }
}

.hero-bg-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-bg-image {
    position: relative;
    z-index: -1;
    display: block;
    width: 100%;
    background-image: url(../images/tablet/hero-bg-tab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg-image {
    background-image: url(../images/tablet/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .hero-bg-image {
    background-image: url(../images/desktop/hero-bg-des.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero-bg-image {
    background-image: url(../images/desktop/hero-bg-des-2x.jpg);
  }
}

.hero__title {
  display: inline-block;
  max-width: 199px;
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 1.19;
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 332px;
    font-size: 44px;
    line-height: 1.19;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    max-width: 464px;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.17;
  }
}

.hero__title-movie {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 1.19;
}
@media screen and (min-width: 768px) {
  .hero__title-movie {
    font-size: 44px;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title-movie {
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.17;
  }
}

.hero__wrapper-rating {
  position: relative;
  margin-bottom: 20px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .hero__wrapper-rating {
    height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__wrapper-rating {
    height: 24px;
    margin-bottom: 28px;
  }
}

.hero__text {
  display: block;
  max-width: 166px;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .hero__text {
    max-width: 357px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    max-width: 464px;
    font-size: 16px;
    line-height: 1.18;
  }
}

.hero__text-movie {
  display: block;
  max-width: 320px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .hero__text-movie {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text-movie {
    font-size: 16px;
    margin-bottom: 36px;
    line-height: 1.18;
  }
}

.hero__description {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__description {
    display: block;
    font-size: 14px;
    line-height: 1.14;
    max-width: 357px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__description {
    max-width: 464px;
    font-size: 16px;
    line-height: 1.18;
  }
}

.hero__btn {
  margin-top: 16px;
  margin-bottom: 20px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background: var(--second-color);
}
@media screen and (min-width: 768px) {
  .hero__btn {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.43;
  }
}
@media screen and (min-width: 1280px) {
  .hero__btn {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.hero__btn-movie {
  margin-bottom: 20px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn-movie:hover, .hero__btn-movie:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  background: var(--second-color);
}
@media screen and (min-width: 768px) {
  .hero__btn-movie {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 1.43;
  }
}
@media screen and (min-width: 1280px) {
  .hero__btn-movie {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.hero-backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.hero-is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-hero {
  position: absolute;
  z-index: 30;
  top: 88px;
  left: 50%;
  transform: translate(-50%) scale(1) rotate(0);
  width: 280px;
  height: 289px;
  padding: 39px 33px;
  background-color: var(--primary-color);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-hero {
    top: 60px;
    width: 609px;
    height: 400px;
    padding: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-hero {
    top: 190px;
    min-height: 400px;
    min-width: 700px;
    padding: 50px;
  }
}

.hero-backdrop.hero-is-hidden .modal-hero {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
}

.hero-close {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--second-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .hero-close {
    top: 24px;
    right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-close {
    top: 28px;
    right: 28px;
  }
}
.hero-close:hover, .hero-close:focus {
  color: var(--accent-color);
}
.hero-close__icon {
  width: 7px;
  height: 7px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .hero-close__icon {
    width: 11px;
    height: 11px;
  }
}

.modal-video iframe {
  width: 100%;
  height: 211px;
  border-radius: 10px;
  border-color: var(--accent-color);
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .modal-video iframe {
    height: 312px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-video iframe {
    height: 300px;
  }
}

.hero-rating {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  line-height: 0.75;
}
@media screen and (min-width: 768px) {
  .hero-rating {
    font-size: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-rating {
    font-size: 24px;
  }
}

.hero-rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(175.22deg, #f84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-card__rating {
  position: absolute;
  display: inline-block;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  min-width: 90px;
  height: 100%;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .rating__item {
    min-width: 66px;
  }
}

.my-lib__hero {
  max-width: 480px;
  height: 380px;
  padding-top: 40px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%), url(../images/mobile/library-bg-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .my-lib__hero {
    background-image: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%), url(../images/mobile/library-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .my-lib__hero {
    max-width: 768px;
    height: 372px;
    padding-top: 62px;
    background-image: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%), url(../images/tablet/library-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .my-lib__hero {
    background-image: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%), url(../images/tablet/library-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .my-lib__hero {
    max-width: 1280px;
    height: 660px;
    padding-top: 169px;
    background-image: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%), url(../images/desktop/library-bg-des.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .my-lib__hero {
    background-image: linear-gradient(87.8deg, #0e0e0e 15.61%, rgba(14, 14, 14, 0) 60.39%), url(../images/desktop/library-bg-des-2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .my-lib__hero-container {
    margin-left: 85px;
  }
}

.my-lib__hero-title {
  display: inline-block;
  max-width: 235px;
  margin-bottom: 8px;
  font-size: 32px;
  line-height: 1.18;
}
@media screen and (min-width: 768px) {
  .my-lib__hero-title {
    max-width: 332px;
    font-size: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .my-lib__hero-title {
    max-width: 464px;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.17;
  }
}

.my-lib__hero-description {
  display: block;
  max-width: 249px;
  font-size: 14px;
  line-height: 1.14;
}
@media screen and (min-width: 768px) {
  .my-lib__hero-description {
    max-width: 357px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .my-lib__hero-description {
    max-width: 464px;
    line-height: 1.18;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-container {
  position: absolute;
  max-width: 846px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  border-radius: 20px;
}

.modal {
  margin: auto;
  padding: 62px 16px 52px 16px;
}
@media screen and (min-width: 768px) {
  .modal {
    display: grid;
    grid-template: 1fr/1fr 1fr;
    justify-items: center;
    padding: 60px;
  }
}
.modal__img {
  margin: auto;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .modal__img {
    margin: 0;
  }
}
.modal__items {
  color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .modal__items {
    margin-left: 20px;
  }
}
.modal__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;
  padding-bottom: 28px;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .modal__title {
    margin-top: 0;
  }
}
.modal__popularity {
  padding-bottom: 10px;
}
.modal__popularity span {
  margin-left: 82px;
}
.modal__rating {
  padding-bottom: 14px;
}
.modal__rating .rating-vote {
  margin-right: 5px;
  padding: 0 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-color);
  background-color: var(--accent-color);
  border-radius: 5px;
}
.modal__rating_span {
  margin-left: 62px;
}
.modal__genre {
  padding-bottom: 20px;
}
.modal__genre span {
  margin-left: 112px;
}
.modal__about {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
}
.modal__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  padding-bottom: 24px;
}

.button__close {
  position: absolute;
  top: 20;
  right: 16;
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border: none;
}
@media screen and (min-width: 768px) {
  .button__close {
    top: 40;
    right: 40;
  }
}

.button__close svg {
  fill: #fff;
  width: 24px;
  height: 24px;
}

.button-add {
  padding: 12px 24px;
  border-radius: 74px;
  font-size: 12px;
  line-height: 1.33;
  background-color: var(--primary-color);
  color: var(--second-color);
  border: 1px solid var(--accent-color);
}

.button-add:hover {
  background-color: var(--supplemental-color);
  border: 1px solid var(--accent-color);
  color: var(--primary-color);
}

.button-remove {
  padding: 12px 24px;
  border-radius: 74px;
  font-size: 12px;
  line-height: 1.33;
  background-color: var(--primary-color);
  color: var(--second-color);
  border: 1px solid var(--accent-color);
}

.button-remove:hover {
  background-color: var(--supplemental-color);
  border: 1px solid var(--accent-color);
  color: var(--primary-color);
}

.trends__container {
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .trends__container {
    padding-top: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .trends__container {
    padding-top: 80px;
  }
}

.trends {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .trends {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .trends {
    margin-bottom: 28px;
  }
}
.trends__header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .trends__header {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1280px) {
  .trends__header {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
.trends__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--accent-color);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .trends__link {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1280px) {
  .trends__link {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
.trends__link:hover {
  transform: scale(1.05);
}

.upcoming {
  padding-top: 32px;
  padding-bottom: 24px;
}
.upcoming__header {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .upcoming__header {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1280px) {
  .upcoming__header {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}

#trending {
  width: 100%;
}
@media screen and (min-width: 768px) {
  #trending {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  [data-id="447365"] {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  [data-id="758323"] {
    display: none;
  }
}

.trending__item {
  position: relative;
  margin-right: 16px;
  height: 406;
  min-width: 280;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .trending__item {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .trending__item {
    min-width: 224;
    height: 325;
  }
}
@media screen and (min-width: 1280px) {
  .trending__item {
    min-width: 395;
    height: 574;
  }
}
.trending__item:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  cursor: pointer;
}
.light .trending__item:hover {
  box-shadow: 5px 5px 5px 0px #3a3939, 5px 5px 10px 5px #383838;
}
.trending__item:last-child {
  margin-right: 0;
}

.trending__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.48%, rgba(0, 0, 0, 0.9) 92.16%);
  z-index: 1;
}

.trending__img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.trending__title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 12px;
  padding-bottom: 42px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6666666667;
  color: var(--second-color);
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .trending__title {
    width: 75%;
    padding-bottom: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .trending__title {
    font-size: 20px;
    line-height: 1.15;
    width: 75%;
    padding-bottom: 40px;
  }
}

.trending__meta {
  display: flex;
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6666666667;
  color: var(--additional-color);
  bottom: 0;
  width: 100%;
  padding-left: 12px;
  padding-bottom: 12px;
  z-index: 5;
}
@media screen and (min-width: 1280px) {
  .trending__meta {
    font-size: 20px;
    line-height: 1.15;
  }
}

.trending__genres {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .trending__genres {
    width: 65%;
  }
}
@media screen and (min-width: 1280px) {
  .trending__genres {
    font-size: 16px;
  }
}

.upcoming__title {
  margin-top: 24px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .upcoming__title {
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 1280px) {
  .upcoming__title {
    font-size: 32px;
    line-height: 1.7272727273;
    margin-top: 0;
  }
}

.upcoming__div {
  display: flex;
  margin-bottom: 20px;
}

.upcoming__container {
  min-width: 150px;
  max-width: 330px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .upcoming__container {
    width: 300px;
  }
}

.upcoming__info {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--additional-color);
}

.upcoming__date {
  color: var(--accent-color);
}

.vote-background {
  color: var(--primary-color);
  background-color: var(--second-color);
  border-radius: 5px;
  padding: 1px 8px;
}

.upcoming__about {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--additional-color);
}

.upcoming__overview {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4285714286;
  color: var(--supplemental-color);
}

.upcoming__item {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1280px) {
  .upcoming__item {
    flex-direction: row;
  }
}
.upcoming__item:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);
  cursor: pointer;
}
.light .upcoming__item:hover {
  box-shadow: 5px 5px 5px 0px #3a3939, 5px 5px 10px 5px #383838;
}

@media screen and (min-width: 1280px) {
  .upcoming__item picture {
    display: inline-block;
    min-width: 805px;
    height: 458px;
    margin-right: 16px;
  }
}

.upcoming__img {
  width: 100%;
  display: block;
  overflow: hidden;
  border-radius: 5px;
}
@media screen and (min-width: 1280px) {
  .upcoming__img {
    min-width: 805px;
    height: 458px;
  }
}

#btn__upcoming {
  margin-right: 5px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#btn__upcoming:hover, #btn__upcoming:focus {
  color: var(--accent-color);
  border: solid 1px var(--accent-color);
  background: var(--second-color);
}

.film-card__rating {
  position: absolute;
  right: 12px;
  bottom: 15px;
  display: inline-block;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  line-height: 0.75;
}
@media screen and (min-width: 768px) {
  .rating {
    font-size: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .rating {
    font-size: 25px;
  }
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(175.22deg, #f84119 9.4%, rgba(248, 159, 25, 0.68) 91.91%);
  -webkit-text-fill-color: transparent;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  min-width: 90px;
  height: 100%;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .rating__item {
    min-width: 66px;
  }
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.container.catalog {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .container.catalog {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--alternate-color);
}

.search-input {
  max-width: 224px;
  padding: 10px 20px;
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 10px;
  margin-right: 16px;
  outline: none;
  transition: 250ms;
  background-color: transparent;
}
.search-input:focus {
  border: 1px dashed var(--accent-color);
  transition: 250ms;
}
@media screen and (min-width: 768px) {
  .search-input {
    max-width: 204px;
    padding: 12px 20px;
  }
}
@media screen and (min-width: 1280px) {
  .search-input {
    max-width: 334px;
  }
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: transparent;
  stroke: var(--second-color);
  fill: none;
  cursor: pointer;
}
.search-btn .search-btn__icon {
  transform: scale(1);
  transition: 700ms;
}
.search-btn:hover {
  border: 1px solid var(--accent-color);
  background-image: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-image-slice: 1;
  stroke: var(--accent-color);
  background: transparent;
}
.search-btn:hover .search-btn__icon {
  transform: scale(1.4);
  transition: 500ms;
}
@media screen and (min-width: 768px) {
  .search-btn {
    width: 44px;
    height: 44px;
  }
}

.light .search-btn {
  stroke: var(--primary-color);
}
.light .search-btn:hover {
  stroke: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .catalog__list {
    margin: 16 auto 20 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .catalog__list {
    margin: 36 auto 44 auto;
    display: flex;
    gap: 28px 15px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1280px) {
  .catalog__list {
    margin: 48 auto 60 auto;
  }
}

.catalog__message {
  display: block;
}

.catalog__message.is-hidden {
  display: none;
}

.catalog__message-text {
  min-width: 280px;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--second-color);
}
@media screen and (min-width: 768px) {
  .catalog__message-text {
    font-size: 24px;
    line-height: 1.33;
  }
}
@media screen and (min-width: 1280px) {
  .catalog__message-text {
    font-size: 32px;
    line-height: 1.12;
  }
}

.light .catalog__message-text {
  color: var(--primary-color);
}

#pagination.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#pagination.tui-pagination .tui-page-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  color: #b7b7b7;
  font-size: 14px;
  outline: none;
  border: transparent;
  border-radius: 50%;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#pagination.tui-pagination .tui-page-btn:hover {
  transform: scale(1.07);
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  #pagination.tui-pagination .tui-page-btn {
    width: 40px;
    height: 40px;
  }
}

#pagination.tui-pagination .tui-page-btn:not(:last-child) {
  margin: 0px 8px 0px 0px;
}
@media screen and (min-width: 768px) {
  #pagination.tui-pagination .tui-page-btn:not(:last-child) {
    margin: 0px 16px 0px 0px;
  }
}

#pagination.tui-pagination a.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid var(--additional-color);
}
@media screen and (min-width: 768px) {
  #pagination.tui-pagination a.tui-page-btn {
    width: 40px;
    height: 40px;
  }
}

.light #pagination.tui-pagination a.tui-page-btn {
  border: 1px solid var(--alternate-color);
  color: var(--alternate-color);
}

.tui-pagination .tui-page-btn.tui-first,
.tui-pagination .tui-page-btn.tui-last {
  color: #b7b7b7;
  font-size: 14px;
  outline: none;
  border: transparent;
  border-radius: 50%;
}

.light .tui-pagination.catalog-pagination .tui-page-btn.tui-first,
.tui-pagination .tui-page-btn.tui-last {
  border: transparent;
}

#pagination.tui-pagination .tui-page-btn.tui-first,
#pagination.tui-pagination .tui-page-btn.tui-prev,
#pagination.tui-pagination .tui-page-btn.tui-next,
#pagination.tui-pagination .tui-page-btn.tui-last {
  width: 20px;
  height: 20px;
  border: transparent;
}
@media screen and (min-width: 768px) {
  #pagination.tui-pagination .tui-page-btn.tui-first,
  #pagination.tui-pagination .tui-page-btn.tui-prev,
  #pagination.tui-pagination .tui-page-btn.tui-next,
  #pagination.tui-pagination .tui-page-btn.tui-last {
    width: 28px;
    height: 28px;
  }
}

.light #pagination.tui-pagination.catalog-pagination .tui-page-btn.tui-first,
#pagination.tui-pagination.catalog-pagination .tui-page-btn.tui-prev,
#pagination.tui-pagination.catalog-pagination .tui-page-btn.tui-next,
#pagination.tui-pagination.catalog-pagination .tui-page-btn.tui-last {
  border: transparent;
}

#pagination.tui-pagination .tui-page-btn.tui-first {
  margin: 0;
}

#pagination.tui-pagination .tui-page-btn.tui-next {
  margin: 0;
}

#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-first,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-prev,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-next,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-last {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light #pagination.tui-pagination.catalog-pagination .tui-page-btn.tui-is-disabled.tui-first,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-prev,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-next,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-last {
  border: transparent;
}

.tui-pagination .tui-page-btn.tui-first,
.tui-pagination .tui-page-btn.tui-prev,
.tui-pagination .tui-page-btn.tui-next,
.tui-pagination .tui-page-btn.tui-last,
.tui-pagination .tui-page-btn.tui-prev-is-ellip,
.tui-pagination .tui-page-btn.tui-next-is-ellip {
  outline: none;
  color: #b7b7b7;
  border: transparent;
  border-radius: 50%;
}

.light .tui-pagination.catalog-pagination .tui-page-btn.tui-first,
.tui-pagination .tui-page-btn.tui-prev,
.tui-pagination .tui-page-btn.tui-next,
.tui-pagination .tui-page-btn.tui-last,
.tui-pagination .tui-page-btn.tui-prev-is-ellip,
.tui-pagination .tui-page-btn.tui-next-is-ellip {
  border: transparent;
}

#pagination.tui-pagination .tui-page-btn.tui-first-child span.tui-ico-ellip {
  color: #b7b7b7;
}

#pagination.tui-pagination a.tui-page-btn.tui-next-is-ellip.tui-last-child,
#pagination.tui-pagination a.tui-page-btn.tui-prev-is-ellip.tui-first-child {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: transparent;
}
@media screen and (min-width: 768px) {
  #pagination.tui-pagination a.tui-page-btn.tui-next-is-ellip.tui-last-child,
  #pagination.tui-pagination a.tui-page-btn.tui-prev-is-ellip.tui-first-child {
    margin-right: 10px;
    width: 28px;
    height: 28px;
  }
}

.light #pagination.tui-pagination.catalog-pagination a.tui-page-btn.tui-next-is-ellip.tui-last-child,
#pagination.tui-pagination a.tui-page-btn.tui-prev-is-ellip.tui-first-child {
  border: transparent;
}

.tui-pagination .tui-page-btn.tui-first-child,
.tui-pagination .tui-page-btn.tui-last-child {
  color: #b7b7b7;
  background-color: transparent;
  outline: none;
  border: transparent;
  border-radius: 50%;
}

.light .tui-pagination.catalog-pagination .tui-page-btn.tui-first-child,
.tui-pagination .tui-page-btn.tui-last-child {
  border: transparent;
}

#pagination.tui-pagination .tui-is-selected,
#pagination.tui-pagination strong {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
}

.light #pagination.tui-pagination .tui-is-selected,
#pagination.tui-pagination strong {
  color: var(--alternate-color);
}

.library-cards__sorry {
  text-align: center;
  width: 280px;
  margin-top: 44px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 1, 4;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .library-cards__sorry {
    width: 438px;
    margin-top: 80px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 1, 33;
  }
}
@media screen and (min-width: 1280px) {
  .library-cards__sorry {
    width: 584px;
    margin-bottom: 28px;
    margin-top: 160px;
    font-size: 32px;
    line-height: 1, 12;
  }
}

.library-cards__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px, 24px;
  margin-bottom: 42px;
  font-size: 12px;
  line-height: 1, 16;
  color: #ffffff;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
}
@media screen and (min-width: 768px) {
  .library-cards__btn {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 1, 14;
  }
}
@media screen and (min-width: 1280px) {
  .library-cards__btn {
    margin-bottom: 108px;
    font-size: 18px;
    line-height: 1, 5;
  }
}

.library-cards__btn a {
  color: var(--primary-color);
}

.footer {
  width: 100%;
  height: 100px;
  margin-top: auto;
  padding-top: 28px;
  padding-bottom: 29px;
  text-align: center;
  background-color: --primary-color;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 79px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer__text {
  color: --additional-color;
  line-height: 1.1428571429;
  letter-spacing: 0.3em;
}
@media screen and (min-width: 768px) {
  .footer__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer__sub {
  color: --alternate-color;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__sub {
    font-size: 16px;
    line-height: 1.1875;
  }
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
}

.footer__link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: --alternate-color;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.footer__link:hover, .footer__link:focus {
  color: --accent-color;
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.1875;
    padding: 0;
  }
}

.back-to-top {
  border-radius: 50%;
  position: fixed;
  bottom: -20px;
  right: 20px;
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.3s all;
  opacity: 0;
  width: 40px;
  height: 40px;
  background-image: url(..//../images/desktop/icon-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  transform: rotate(270deg);
}
@media screen and (min-width: 768px) {
  .back-to-top {
    bottom: -30px;
    right: 30px;
    width: 45px;
    height: 45px;
    background-size: 45px 45px;
  }
}
@media screen and (min-width: 1280px) {
  .back-to-top {
    bottom: -50px;
    right: 50px;
    width: 55px;
    height: 55px;
    background-size: 55px 55px;
  }
}

.back-to-top.active {
  opacity: 1;
  bottom: 30px;
  transition: 0.3s all;
}/*# sourceMappingURL=index.css.map */