:root {
  --primary-color: #111111;
  --second-color: #ffffff;
  --additional-color: #b7b7b7;
  --accent-color: #f87719;
  --further-color: #282828;
  --alternate-color: #595959;
  --supplemental-color: #f8f8f8;

  --main-font: 'Roboto', sans-serif;

  --linear-gradient-up: linear-gradient(
    141.22deg,
    #ffc226 9.4%,
    #f84119 91.91%
  );
  --linear-gradient-down: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );
}







:root[data-theme='dark'] {
  --page-bgd: #{var(--primary-color)};
  --hero-bgd: url('/src/images/desktop/hero-b-des.png');
  --hero-bgd-retina: url('/src/images/desktop/hero-b-des-2x.png');
  --primary-text-clr: #{var(--second-color)};
  --secondary-text-clr: #{var(--supplemental-color)};
  --muted-text-clr: #{var(--additional-color)};
  --mobile-menu-bgd: #{var(--primary-color)};
  --backdrop-bgd: #{var(--second-color)};;

  --switcher-pos-mob: 18px;
  --switcher-pos-tab: 30px;
  --switcher-pos-desk: 34px;

  --switcher-sf-pos-desk: 0px;
  --switcher-sf-pos-tab: -4px;
  --switcher-sf-pos-mob: -16px;  

  --switcher-sf-rotation: 90deg;  
}

:root[data-theme='light'] {
  --page-bgd: #{var(--second-color)};
  --hero-bgd: url('/src/images/desktop/hero-w-des.png');
  --hero-bgd-retina: url('/src/images/desktop/hero-w-des-2x.png');
  --primary-text-clr: #{var(--further-color)};
  --secondary-text-clr: #{var(--further-color)};
  --muted-text-clr: #{var(--alternate-color)};
  --mobile-menu-bgd: #{var(--supplemental-color)};
  --backdrop-bgd: #{var(--primary-color)};

  --switcher-pos-mob: -3px;
  --switcher-pos-tab: -3px;
  --switcher-pos-desk: -2px;

  --switcher-sf-pos-mob: -36px;
  --switcher-sf-pos-tab: -36px;
  --switcher-sf-pos-desk: -35px;

  --switcher-sf-rotation: 270deg;  
}
