:root {
  --primary-color: #111111;
  --second-color: #ffffff;
  --additional-color: #b7b7b7;
  --accent-color: #f87719;
  --further-color: #282828;
  --alternate-color: #595959;
  --supplemental-color: #f8f8f8;

  --main-font: 'Roboto', sans-serif;

  --linear-gradient-up: linear-gradient(
    141.22deg,
    #ffc226 9.4%,
    #f84119 91.91%
  );
  --linear-gradient-down: linear-gradient(
    141.22deg,
    #f84119 9.4%,
    rgba(248, 159, 25, 0.68) 91.91%
  );
}




