<!DOCTYPE html>
<html lang="en">

<head>

</head>
<body class="hero">
    <div class="container hero-elements">

        <ul class="text-item">
             <li class="text-li">
                <h1 class="title-hero">Let’s Make Your Own Cinema </h1>
                <a class="text-hero">Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers. Decorate your space, choose your films, and stock up on snacks for the full experience.</a>
                <button type="button" data-modal-open class="btn btn-hero">Get Started</button></li>
            <li class="img-hero"></li>
        </ul>
      </div>

</body>
</html>