<section class="hero">
  <div class="container">
    <h1 class="hero__title">Let’s Make Your Own Cinema</h1>
    <p class="hero__text">
      Is a guide to creating a personalized movie theater experience. You'll
      need a projector, screen, and speakers.
    </p>
    <p class="hero__description">
      Decorate your space, choose your films, and stock up on snacks for the
      full experience.
    </p>
    <button type="button" data-modal-open class="btn hero__btn">
      Get Started
    </button>
  </div>
</section>
<section class="modal__hero">
  <div class="modal__hero__container is__open__hero">
    
    <button class="modal__hero__close"></button>
    <div class="ifNotFind">
      <p>OOPS...</p>
      <p>We are very sorry!</p>
      <p>But we couldn’t find the trailer.   </p>
    </div>
 <span class="hero_img"></span>
    <!-- <img src="" alt=""/> -->
  </div>
</section>
<!-- <script type="module" src="./scripts/hero-modal.js"></script> -->
