<section class="hero">
  <div class="heroLibrary__container">
    <div id="heroLibrary-bg">
      <div id="heroLibrary-movie-mob"></div>
      <div id="heroLibrary__wrapper">
        <h1 class="heroLibrary__title">Create Your Dream Cinema</h1>
        <p class="heroLibrary__text">Is a guide to designing a personalized movie theater experience with the
          right equipment, customized decor, and favorite films. This guide helps
          you bring the cinema experience into your own home with cozy seating, dim
          lighting, and movie theater snacks.</p>
      </div>
    </div>
    <div id="heroLibrary-content">
      <h1 class="heroLibrary__title">Create Your Dream Cinema</h1>
      <p class="heroLibrary__text">Is a guide to designing a personalized movie theater experience with the
        right equipment, customized decor, and favorite films. This guide helps
        you bring the cinema experience into your own home with cozy seating, dim
        lighting, and movie theater snacks.</p>
    </div>
    <div id="heroLibrary-movie"></div>
    <div class="hero-bg-image" id="heroLibrary-image"></div>
  </div>
</section>