<!DOCTYPE html>
<html lang="en">

<head>

</head>
<body>
    <section class="hero">
        <div class="container">
            <h1 class="hero__title">Let’s Make Your Own Cinema</h1>
            <p class="hero__text">Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers.</p>
            <button type="button" data-modal-open class="btn hero__btn">Get Started</button>
        </div>
    </section>
    <!-- <div class="container hero-elements">
    <div class="pictures-hero">
   <li class = "img-hero-temlate">
                <img src = "/src/images/desktop/hero-b-des.png"/>
   </li>
    <li class = "img-hero-plug">
               <img src = "/src/images/desktop/hero-bg-des.jpg"/>
             </li> 
    </div>
    <ul class="hero-item">
            
     <li class="hero-li">
                <h1 class="title-hero">Let’s Make Your Own Cinema </h1>
                <a class="text-hero">Is a guide to creating a personalized movie theater experience. You'll need a projector, screen, and speakers. Decorate your space, choose your films, and stock up on snacks for the full experience.</a>
                <button type="button" data-modal-open class="btn btn-hero">Get Started</button></li>
        </ul>
      </div>
      <div class="backdrop is-hidden" data-modal>
        <div class="modal">
            <form action="" class="modal-form">
            </form>
        </div>
    </div> -->
</body>
</html>