<div class="backdrop is-hidden" data-modal>
  <div class="modal container">
    <h1 class="team__title">Team</h1>
    <div class="team__box">
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/example.jpg"
            alt="slyarchuk"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/TatianaSkl"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="/src/images/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Skliarchuk Tetiana</p>
        <p class="team__role">Team Lead</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/example.jpg"
            alt="Grebeniuk"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/AntoninaGrebeniuk"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="/src/images/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Grebeniuk Antonina</p>
        <p class="team__role">Scrum Master</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="/src/images/example.jpg" alt="Chyzh" />
        </div>
        <a class="team__link" href="https://github.com/Chyzh74" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="/src/images/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Chyzh Oleh</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="/src/images/example.jpg" alt="Brehov" />
        </div>
        <a class="team__link" href="https://github.com/Zmeimor" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="/src/images/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Brehov Vlad</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/example.jpg"
            alt="Maryniak"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/MaryniakT"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="/src/images/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Maryniak Tetiana</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="/src/images/example.jpg" alt="Meizin" />
        </div>
        <a
          class="team__link"
          href="https://github.com/VadymMiezin"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="/src/images/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Miezin Vadym</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/example.jpg"
            alt="Alyoshin"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/DmitriyAlyoshin"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="/src/images/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Alyoshin Dmitriy</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="team__photo"
            src="/src/images/example.jpg"
            alt="Zhuravel"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Maksym-Zhuravel"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="/src/images/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Zhuravel Maksym</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img class="team__photo" src="/src/images/example.jpg" alt="larova" />
        </div>
        <a
          class="team__link"
          href="https://github.com/OlyaIarova"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="/src/images/icons.svg#icon-github"></use>
          </svg>
        </a>
        <p class="team__name">Iarova Olya</p>
        <p class="team__role">Developer</p>
      </div>
      <button type="button" class="modal-close" data-modal-close>
        <svg width="11" height="11" class="modal-close-icon">
          <use href="./images/icons.svg#icon-Vector"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
