.btn {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-color);
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border-radius: 74px;
  border: 0px;
  font-family: inherit;
  cursor: pointer;
}
