.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow: scroll;

    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden .modal {
        transform: translate(-50%, -50%) translateY(250px);
        transition: 500ms;
    }

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}