.container.catalog {
  padding-top: 40px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @mixin desktop {
    padding-top: 80px;
    padding-bottom: 70px;
  }
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: var(--alternate-color);
}
.search-input {
  max-width: 224px;
  padding: 10px 20px;
  color: var(--second-color);
  caret-color: var(--accent-color);
  border: 1px solid var(--second-color);
  border-radius: 10px;
  margin-right: 16px;
  outline: none;

  background-color: transparent;

  @include tablet {
    max-width: 204px;
    padding: 12px 20px;
  }

  @include desktop {
    max-width: 334px;
  }
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
  border: transparent;

  stroke: var(--primary-color);
  fill: none;
  cursor: pointer;

  &:hover {
    border: 1px solid var(--accent-color);
    background-image: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
    border-image-slice: 1;
    stroke: var(--accent-color);
    background: transparent;
  }

  @include tablet {
    width: 44px;
    height: 44px;
  }
}

.catalog__list {
  // margin: 40 auto 60 auto;

  @media screen and (max-width: 767px) {
    margin: 16 auto 20 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include tablet {
    margin: 36 auto 44 auto;
    display: flex;
    gap: 28px 15px;
    flex-wrap: wrap;
  }

  @include desktop {
    margin: 48 auto 60 auto;
  }
}

.catalog__message {
  display: block;
}

.catalog__message.is-hidden {
  display: none;
}

.catalog__message-text {
  min-width: 280px;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: var(--second-color);

  @include tablet {
    font-size: 24px;
    line-height: 1.33;
    // color: var(--second-color);
  }

  @include desktop {
    font-size: 32px;
    line-height: 1.12;
    // color: var(--second-color);
  }
}

.light .catalog__message-text {
  color: var(--primary-color);
}

// TODO ======== pagination ==============

// .catalog-pagination {

// }

#pagination.tui-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#pagination.tui-pagination .tui-page-btn {
  display: inline-block;
  width: 24px;
  height: 24px;

  color: #b7b7b7;
  font-size: 14px;

  outline: none;
  border: transparent;
  border-radius: 50%;
  transform: scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: scale(1.07);
    background-color: transparent;
    //! box-shadow: 5px 5px 5px 0px #525151; //5px 5px 10px 5px #383838;
  }

  @include tablet {
    width: 40px;
    height: 40px;
  }
}

// .light #pagination.tui-pagination .tui-page-btn {
//   border: transparent;
// }

#pagination.tui-pagination .tui-page-btn:not(:last-child) {
  margin: 0px 8px 0px 0px;

  @include tablet {
    margin: 0px 16px 0px 0px;
  }
}

#pagination.tui-pagination a.tui-page-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid var(--additional-color);

  @include tablet {
    width: 40px;
    height: 40px;
  }
}

.light #pagination.tui-pagination a.tui-page-btn {
  border: 1px solid var(--alternate-color);
  color: var(--alternate-color);
}

.tui-pagination .tui-page-btn.tui-first,
.tui-pagination .tui-page-btn.tui-last {
  color: #b7b7b7;
  font-size: 14px;
  // line-height: 1;
  outline: none;
  border: transparent;
  border-radius: 50%;
}

.light .tui-pagination.catalog-pagination .tui-page-btn.tui-first,
.tui-pagination .tui-page-btn.tui-last {
  border: transparent;
}

#pagination.tui-pagination .tui-page-btn.tui-first,
#pagination.tui-pagination .tui-page-btn.tui-prev,
#pagination.tui-pagination .tui-page-btn.tui-next,
#pagination.tui-pagination .tui-page-btn.tui-last {
  width: 20px;
  height: 20px;
  border: transparent;

  @include tablet {
    width: 28px;
    height: 28px;
  }
}

.light #pagination.tui-pagination.catalog-pagination .tui-page-btn.tui-first,
#pagination.tui-pagination.catalog-pagination .tui-page-btn.tui-prev,
#pagination.tui-pagination.catalog-pagination .tui-page-btn.tui-next,
#pagination.tui-pagination.catalog-pagination .tui-page-btn.tui-last {
  border: transparent;
}

#pagination.tui-pagination .tui-page-btn.tui-first {
  margin: 0;
}

#pagination.tui-pagination .tui-page-btn.tui-next {
  margin: 0;
}

#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-first,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-prev,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-next,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-last {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light
  #pagination.tui-pagination.catalog-pagination
  .tui-page-btn.tui-is-disabled.tui-first,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-prev,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-next,
#pagination.tui-pagination .tui-page-btn.tui-is-disabled.tui-last {
  border: transparent;
}

.tui-pagination .tui-page-btn.tui-first,
.tui-pagination .tui-page-btn.tui-prev,
.tui-pagination .tui-page-btn.tui-next,
.tui-pagination .tui-page-btn.tui-last,
.tui-pagination .tui-page-btn.tui-prev-is-ellip,
.tui-pagination .tui-page-btn.tui-next-is-ellip {
  outline: none;
  color: #b7b7b7;
  border: transparent;
  border-radius: 50%;
}

.light .tui-pagination.catalog-pagination .tui-page-btn.tui-first,
.tui-pagination .tui-page-btn.tui-prev,
.tui-pagination .tui-page-btn.tui-next,
.tui-pagination .tui-page-btn.tui-last,
.tui-pagination .tui-page-btn.tui-prev-is-ellip,
.tui-pagination .tui-page-btn.tui-next-is-ellip {
  border: transparent;
}

#pagination.tui-pagination .tui-page-btn.tui-first-child span.tui-ico-ellip {
  color: #b7b7b7;
}

#pagination.tui-pagination a.tui-page-btn.tui-next-is-ellip.tui-last-child,
#pagination.tui-pagination a.tui-page-btn.tui-prev-is-ellip.tui-first-child {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: transparent;

  @include tablet {
    margin-right: 10px;
    width: 28px;
    height: 28px;
  }
}

.light
  #pagination.tui-pagination.catalog-pagination
  a.tui-page-btn.tui-next-is-ellip.tui-last-child,
#pagination.tui-pagination a.tui-page-btn.tui-prev-is-ellip.tui-first-child {
  border: transparent;
}

.tui-pagination .tui-page-btn.tui-first-child,
.tui-pagination .tui-page-btn.tui-last-child {
  color: #b7b7b7;
  background-color: transparent;
  outline: none;
  border: transparent;
  border-radius: 50%;
}

.light .tui-pagination.catalog-pagination .tui-page-btn.tui-first-child,
.tui-pagination .tui-page-btn.tui-last-child {
  border: transparent;
}

#pagination.tui-pagination .tui-is-selected,
#pagination.tui-pagination strong {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: linear-gradient(141.22deg, #ffc226 9.4%, #f84119 91.91%);
}

.light #pagination.tui-pagination .tui-is-selected,
#pagination.tui-pagination strong {
  color: var(--alternate-color);
}
