.footer {
  margin-top: auto;
  padding-bottom: 28px;
  text-align: center;
  @include tablet {
    padding-bottom: 40px;
  }
  @include desktop {
    padding-bottom: 80px;
  }
}
.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.footer__text {
  color: var(--additional-color);
  line-height: calc(16 / 14);
  padding-bottom: 8px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    font-size: 16px;
    line-height: 1.19;
  }
}
.footer__sub {
  color: var(--additional-color);
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet {
    margin-left: 4px;
    font-size: 16px;
    line-height: 1.19;
  }
  @include desktop {
    margin-left: 6px;
  }
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
  display: block;
  animation: Scale 0.7s ease infinite alternate;
}

.footer__link {
  color: var(--additional-color);
  margin-right: 4px;
  line-height: calc(16 / 14);
  @include tablet {
    font-size: 16px;
    line-height: 1.19;
  }
  @include desktop {
    margin-right: 6px;
  }
}
@keyframes Bounce {
  0%,
  100% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
}
.footer__link-modal {
  color: var(--accent-color);
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  font-weight: 500;
  cursor: pointer;
  animation: Bounce 1.5s ease-in-out infinite alternate;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}
