a {
  text-decoration: none;
}

.page-header {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: #000000;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    max-width: 768px;
    height: 60px;
    // display: flex;
  }

  @include desktop {
    max-width: 1280px;
    // height: 60px;
    // display: flex;
  }
}

.main-nav {
  display: none;
  // align-items: center;
  // justify-content: space-between;

  @include tablet {
    display: flex;
    align-items: center;
    inline-size: fit-content;
    margin: 0 auto;
  }
}

.site-nav {
  display: none;

  @include tablet {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  @include desktop {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.site-nav__list {
  list-style: none;
  display: inline-flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 40px;
}

.site-nav__item {
  display: block;

  @include tablet {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.site-nav__link {
  color: var(--additional-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
  }
}

.site-nav__link.current {
  color: var(--accent-color);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.page-header__link {
  display: flex;
  align-items: center;
}

.page-header__icon {
  width: 32px;
  height: 32px;
  z-index: 9;

  @include tablet {
    width: 48px;
    height: 48px;
  }
}

.page-header__logo {
  display: none;
  color: var(--second-color);
  transition: 550ms cubic-bezier(0.4, 0, 0.2, 1);
  animation: flicker 2.5s infinite alternate;

  @keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow: 0 0 4px #ebc3a7, 0 0 11px#ebc3a7, 0 0 19px #ebc3a7,
        0 0 40px #f87719, 0 0 80px #f87719, 0 0 90px#f87719, 0 0 100px#f87719,
        0 0 150px #f87719;
    }

    20%,
    24%,
    55% {
      text-shadow: none;
    }
  }

  // @keyframes flicker {
  //     0%,
  //     18%,
  //     22%,
  //     25%,
  //     53%,
  //     57%,
  //     100% {
  //       text-shadow: 0 0 4px #ebc3a7, 0 0 11px #ebc3a7, 0 0 19px #ebc3a7,
  //         0 0 40px #f87719, 0 0 50px #f87719, 0 0 70px #f87719, 0 0 60px #f87719,
  //         0 0 80px #f87719;
  //     }

  //     20%,
  //     24%,
  //     55% {
  //       text-shadow: none;
  //     }
  //   }
  @include tablet {
    display: block;
    margin-right: 48px;
    margin-left: 8px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @include desktop {
    margin-right: 307px;
    margin-left: 8px;
  }
}

.page-header__logo:hover,
.page-header__logo:focus {
  /* color: var(--accent-color);
    transform: rotate(1turn); */
  color: var(--second-color);
  transform: scale(1.1);
}

.switch-theme-button {
  background-color: transparent;
  border: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-image: url(/src/images/mobile/switch-b-mob.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 38px;
  height: 16px;

  @include tablet {
    margin-left: 175px;
    width: 54px;
    height: 20px;
    margin-left: 175px;
  }

  @include desktop {
    margin-left: 417px;
    width: 60px;
    height: 24px;
    cursor: pointer;
  }
}

body.light .switch-theme-button {
  background-image: url(/src/images/mobile/switch-w-mob.png);
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablet {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.mobile-menu__button {
  background-color: transparent;
  border: 0;
  padding: 17px;
  color: var(--additional-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

.mobile-menu__nav-list {
  overflow: hidden;
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 204px;
  height: 100vh;
  background-color: #171717;
  border-radius: 0px 8px 8px 0px;
  padding-left: 20px;
  transform: translateX(-100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-list.is-open {
  z-index: 8;
  list-style: none;
  transform: translateX(0);
  overflow: scroll;
  visibility: visible;
  width: 204px;
  height: 100%;

}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 250ms linear, visibility 300ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__item:first-child {
  margin-top: 65px;
}

.mobile-menu__item {
  margin-bottom: 9px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mobile-menu-nav__link {
  color: var(--additional-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mobile-menu-nav__link.current {
  color: var(--accent-color);
}

@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .switch-theme-button {
    background-image: url(/src/images/mobile/switch-b-mob-2x.png);
  }
}

@media screen and (min-width: 768px) {
  .switch-theme-button {
    background-image: url(/src/images/tablet/switch-b-tab.png);
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .switch-theme-button {
      background-image: url(/src/images/tablet/switch-b-tab-2x.png);
    }
  }
}

@media screen and (min-width: 1200px) {
  .switch-theme-button {
    background-image: url(/src/images/desktop/switch-b-des.png);
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .switch-theme-button {
      background-image: url(/src/images/desktop/switch-b-des-2x.png);
    }
  }
}

/* Light theme responsive images */
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  body.light .switch-theme-button {
    background-image: url(/src/images/mobile/switch-w-mob-2x.png);
  }
}

@media screen and (min-width: 768px) {
  body.light .switch-theme-button {
    background-image: url(/src/images/tablet/switch-w-tab.png);
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
    body.light .switch-theme-button {
      background-image: url(/src/images/tablet/switch-w-tab-2x.png);
    }
  }
}

@media screen and (min-width: 1200px) {
  body.light .switch-theme-button {
    background-image: url(/src/images/desktop/switch-w-des.png);
  }

  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    body.light .switch-theme-button {
      background-image: url(/src/images/desktop/switch-w-des-2x.png);
    }
  }
}