.my-lib__hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 380px;

  background-image: linear-gradient(
      83.48deg,
      #0e0e0e 25.78%,
      rgba(14, 14, 14, 0) 60.07%
    ),
    url(../images/mobile/library-bg-mob.jpg);

  @include retina {
    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(../images/mobile/library-bg-mob-2x.jpg);
  }

  @include tablet {
    min-height: 370px;
    // max-width: 768px;

    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(../images/tablet/library-bg-tab.jpg);

    @include retina {
      background-image: linear-gradient(
          83.48deg,
          #0e0e0e 25.78%,
          rgba(14, 14, 14, 0) 60.07%
        ),
        url(../images/tablet/library-bg-tab-2x.jpg);
    }
  }

  @include desktop {
    min-height: 660px;
    // max-width: 1280px;

    background-image: linear-gradient(
        83.48deg,
        #0e0e0e 25.78%,
        rgba(14, 14, 14, 0) 60.07%
      ),
      url(../images/desktop/library-bg-des.jpg);

    @include retina {
      background-image: linear-gradient(
          83.48deg,
          #0e0e0e 25.78%,
          rgba(14, 14, 14, 0) 60.07%
        ),
        url(../images/desktop/library-bg-des-2x.jpg);
    }
  }
}

.my-lib__hero-container {
  display: flex;
  flex-direction: column;

  margin-left: 0;
  margin-right: 0;
  @include desktop {
    margin-left: 85px;
  }
}

.my-lib__hero-title {
  display: inline-block;
  max-width: 235px;

  margin-top: 40px;
  margin-bottom: 8px;

  font-size: 32px;
  line-height: 1.18;
  @include tablet {
    max-width: 332px;
    margin-top: 62px;
    font-size: 44px;
  }
  @include desktop {
    max-width: 464px;

    margin-top: 169px;
    margin-bottom: 16px;
    font-size: 64px;
    line-height: 1.17;
  }
}

.my-lib__hero-description {
  display: inline-block;
  max-width: 249px;
  font-size: 14px;
  line-height: 1.14;
  @include tablet {
    max-width: 357px;
    font-size: 16px;
  }
  @include desktop {
    max-width: 464px;
    line-height: 1.18;
  }
}