body.modal-open {
  overflow: hidden;
}

.modal {
  position: absolute;
  width: 280px;
  height: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @include tablet {
    width: 768px;
    height: 100%;
  }

  @include desktop {
    width: 800px;
    height: 100%;
  }

  &-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    color: var(--supplemental-color);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--primary-color);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover {
      fill: var(--logo-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-close-icon {
      fill: currentColor;
    }
  }
}

.team__title {
  padding-top: 13px;
  color: black;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px #ccc, 1px -1px 1px #ccc, -1px 1px 1px #ccc,
    -1px -1px 1px #ccc;
  transition: all 1s;

  &:hover,
  &:focus {
    color: #ff6b08;
  }

  @media screen and (min-width: 768px) {
    padding-top: 15px;
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.team__title:after {
  content: '';
  display: block;
  position: relative;
  z-index: -1;
  width: 100%;
  margin: auto;
  border-bottom: 3px solid black;
  bottom: 0.15em;
  transition: all 1s;
}

H1:hover:after {
  width: 0%;
  border-bottom-width: 1px;
}

.team__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 278px;
  gap: 40px;

  @media screen and (min-width: 768px) {
    width: 490px;
    gap: 30px;
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1280px) {
    width: 790px;
    gap: 45px;
    margin-bottom: 35px;
  }
}

.team__member {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 230px;
  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

  @media screen and (min-width: 1280px) {
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}

.team__photo {
  height: auto;
  width: 100px;
  border: 2px;
  margin: auto;
  border-radius: 50px;
  box-shadow: 0px 0px 3px 5px #ccc;
}

.team__name {
  font-size: 18px;
  font-weight: 600;
  color: black;
  transition-duration: 0.5s;

  &:hover,
  &:focus {
    color: #ff6b08;
  }

  @media screen and (min-width: 768px) {
    font-size: 19px;
    align-content: center;
  }

  @media screen and (min-width: 1280px) {
    font-size: 22px;
  }
}

.team__role {
  font-size: 15px;
  font-weight: 500;
  color: gray;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}

.team__card {
  width: 100px;
  height: auto;
  border: none;
  outline: none;
  color: transparent;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10%;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

.team__github {
  &:hover,
  &:focus {
    fill: #ff6b08;
    transition-duration: 0.5s;
  }
}

.closeModalAnimationTeam {
  animation: closingTeam 0.4s linear none;
}

.openModalAnimationTeam {
  animation: openingTeam 0.4s linear none;
}

@keyframes openingTeam {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(50%);
  }
}

@keyframes closingTeam {
  from {
    transform: translateX(50%);
  }

  to {
    transform: translateX(100%);
  }
}
