
//!===============================================
//!===============================================
.modal-backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  
  // overflow: auto;

  // transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  // visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal__wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 598px;
  width: 846px;
  // overflow-y: scroll;

  // height: 847px;

  // background-color: #1aa4ce;
  background-color: var(--primary-color); //!
  border-radius: 16px;
  padding: 60px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 90;
  overflow-x: auto;

  box-shadow: 1px 1px 14px 4px rgba(255, 107, 8, 0.42);

  // @include tablet {
  //   width: 704px;
  //   height: 488px;
  //   margin: auto;
  //   padding: 40px 36px;
  //   display: flex;
  // }

  // @include desktop {
  //   min-width: 846px;
  //   height: 598px;
  //   display: flex;
  // }

  // &.is-hidden {
  // transform: scale(0.7);
  // opacity: 0;
  // visibility: hidden;
  // }
}

.modal__close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  display: inline-flex;
  // width: 25px;
  // height: 25px;

  justify-content: center;
  align-items: center;

  // background-color: #e622ab;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  background-color: var(--primary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  cursor: pointer;

  @include tablet {
    top: 24px;
    right: 24px;
  }

  @include desktop {
    width: 30px;
    height: 30px;
  }

  &:hover {
    color: var(--accent-color);
  }
}

.modal__close-icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
  // background: #000;
}

.film--add {
  display: flex;
  // padding: 52px 16px;
  list-style: none;
}

.film-add__wrap {
  margin-right: 20px;
  width: 375px;
  height: 478px;
}

.film-add__img {
  width: 100%;
  height: 100%;
  // object-fit: cover;
}

.film-add__desc {
  //
}

.film-add__title {
  margin-bottom: 28px;
  width: 300px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.33;

  color: var(--second-color);
}

.film-add__list {
  margin-bottom: 20px;
}

.film-add__item {
  display: flex;

  // justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.film-add__subtitle {
  width: 150px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--additional-color);
}

.film-add__span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;

  &.votes {
    //
  }

  &.genres {
    // font-size: 14px;
    text-transform: none;
  }
}

.film-add__wrap-desc {
  margin-bottom: 24px;
  width: 331px;
  
}

.film-add__about {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  align-items: center;
  text-transform: uppercase;
  color: var(--additional-color);
}

.film-add__text {
  font-size: 14px;
  line-height: 1.42;

  color: var(--supplemental-color);
}

.film-add__btn {
  // padding: 12px 24px;
  min-width: 140px;
  height: 40px;

  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-align: center;

  color: var(--second-color);
  background: transparent;
 border: 1px solid var(--accent-color);

 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
 background 250ms cubic-bezier(0.4, 0, 0.2, 1);

 &:hover {
  color: var(--accent-color);
  background: var(--second-color); 
  border: none;
 }
}
//!===============================================
//!===============================================
