body.modal-open {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

.modal {
  position: absolute;
  width: 280px;
  height: 100%;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-color);
  box-shadow: 0px 0px 60px var(--accent-color), 0px 1px 1px var(--accent-color),
    0px 0px 1px var(--accent-color);
  border-radius: 10px;

  @include tablet {
    width: 540px;
    height: 100%;
  }

  @include desktop {
    width: 808px;
    height: 90%;
    overflow: auto;
  }

  &-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    fill: var(--supplemental-color);

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover {
      fill: var(--accent-color);
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  }
}

.team__title {
  padding-top: 13px;
  color: var(--second-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: center;
  transition: all 700ms;
  cursor: default;

  &:hover,
  &:focus {
    color: #ff6b08;
  }

  @media screen and (min-width: 768px) {
    padding-top: 15px;
    margin-bottom: 30px;
    font-size: 30px;
  }
}

.team__box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 278px;
  gap: 40px;

  @media screen and (min-width: 768px) {
    width: 490px;
    gap: 30px;
    margin-bottom: 35px;
  }

  @media screen and (min-width: 1280px) {
    width: 790px;
    gap: 45px;
    margin-bottom: 35px;
  }
}

.team__member {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 230px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  &:hover .team__name{
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

  @media screen and (min-width: 1280px) {
    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }
}

.team__photo {
  height: 100px;
  width: 100px;
  margin: auto;
  border-radius: 50px;
  cursor: default;

  @include tablet{
    height: 140px;
    width: 140px;
    border-radius: 70px;
  }
}

.team__name {
  font-size: 18px;
  font-weight: 600;
  color: var(--second-color);
  transition-duration: 0.5s;
  cursor: default;

  @media screen and (min-width: 768px) {
    font-size: 19px;
    align-content: center;
  }

  @media screen and (min-width: 1280px) {
    font-size: 22px;
  }
}

.team__role {
  font-size: 15px;
  font-weight: 500;
  color: gray;
  cursor: default;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
  }
}

.team__card {
  width: 100px;
  height: auto;
  border: none;
  outline: none;
  color: transparent;
  background: transparent;
  cursor: default;
  position: relative;
  z-index: 0;
  border-radius: 10%;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
}

.team__link{
  fill: var(--second-color);
  transition: 250ms;

  &:hover{
    fill: var(--accent-color);
    transition: 250ms;
  }
}

.footer__link{
  color: var(--second-color);
  transition: 250ms;
  &:hover {
      color: var(--accent-color);
      transition: 250ms;
    }
}
