.library-cards {
  padding: 40px 0;
  @include tablet {
    padding-top: 92px;
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 117px;
    padding-bottom: 96px;
  }
}
.library-cards__sorry {
  text-align: center;
  width: 280px;
  margin-top: 44px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: var(--second-color);

  @include tablet {
    width: 438px;
    margin-top: 80px;
    margin-bottom: 24px;

    font-size: 24px;
    line-height: 1.33;
  }

  @include desktop {
    width: 584px;
    margin-bottom: 28px;
    margin-top: 160px;
    font-size: 32px;
    line-height: 1.12;
  }
}

.library-cards__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 12px, 24px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-color);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    background: var(--second-color);
  }

  @include tablet {
    font-size: 14px;
    line-height: 1.43;
  }

  @include desktop {
    font-size: 18px;
    line-height: 1.5;
  }
}

.library-cards__list {
  @media screen and (max-width: 767px) {
    margin: 16 auto 20 auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include tablet {
    margin: 36 auto 44 auto;
    display: flex;
    gap: 28px 15px;
    flex-wrap: wrap;
  }

  @include desktop {
    margin: 48 auto 60 auto;
  }
}

.library-cards__btn a {
  color: var(--primary-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
