.back-to-top {
  border-radius: 50%;
  position: fixed;
  bottom: -20px;
  right: 20px;
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.3s all;
  opacity: 0;

  width: 40px;
  height: 40px;
  background-image: url(..//../images/desktop/icon-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px 40px;
  transform: rotate(270deg);

  @include tablet {
    bottom: -30px;
    right: 30px;

    width: 45px;
    height: 45px;
    background-size: 45px 45px;
  }

  @include desktop {
    bottom: -50px;
    right: 50px;

    width: 55px;
    height: 55px;
    background-size: 55px 55px;
  }
}

.back-to-top.active {
  opacity: 1;
  bottom: 30px;
  transition: 0.3s all;
}
